[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
h5py = "*"
fire = "*"
numpy = "*"
pillow = "*"
albumentations = "*"
tqdm = "*"
pandas = "*"
dask = "*"
scikit-learn = "*"

[dev-packages]

[requires]
python_version = "3.12"
